 @import url('./Roboto/roboto.css');

window{
}

html{
    background-color: #000;
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    color: white
}
p{
    padding:0;
    margin: 0;
}
body{
    margin:0;
}
div{
    
}
h1{
    color: #fff
}

#container_time p{
    font-size: 80px;
    text-align: right;
}
#container_right{
    float: right;
}


#text_animation{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    /* Change font-weight to light probably*/
    font-size: 60px;
}
#container2_text_animation{
    display: table;
    height: 100%;
}
#container1_text_animation{
    height: 100%;
    display: inline-flex;
}
#view_text_animation{
    width: 100%;
    height: 100%;
    text-align: center;
}