 @import url('./Roboto/roboto.css');

window{
}

html{
    background-color: #000;
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    color: white
}
p{
    padding:0;
    margin: 0;
}
body{
    margin:2.5%;
}

h1{
    color: #fff
}

#time p{
    font-size: 80px;
    text-align: right;
}
#container_right{
    float: right;
}