 @import url('./Roboto/roboto.css');

window{
}

html{
    background-color: #000;
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    color: white
}

body{
    margin:15px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

h1{
    color: #fff
}

#time p{
    
}